@* @model DemoMVC148.Models.Student

<h2>Thông tin sinh viên</h2>

<p><b>Họ tên:</b> @Model.Name</p>
<p><b>Tuổi:</b> @Model.Age</p>
<p><b>Ngành học:</b> @Model.Major</p>

<a href="/Demo/StudentForm">Nhập lại</a> *@